.div-btn {
   text-align: center;
   position:relative;
   top : -50px;
   
&__commander {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.212);
    width: 175px;
    height: 50px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    background: $color-gradient;
    text-decoration: none;
    border:  none;
    text-align: center;

    &:hover {
        background: $color-gradient-lighten;
        cursor:pointer;
    }
        }
        
        
}